
extends layout

block content

    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                .navbar-brand Add Template
            ul.nav.navbar-nav.navbar-right
                li
                    .navbar-btn#btn-home.btn.btn-default
                        | Editor
                    .navbar-btn#btn-account.btn.btn-default
                        | Account
                    .navbar-btn#btn-logout.btn.btn-default
                        | Sign Out

    div#home
        input.form-control#lesson-num(type='number', placeholder="Lesson Number")
        input.form-control#lesson-title(type='text', placeholder="Lesson Title")
        textarea#template-input.form-control(rows='15', placeholder="Lesson Template Content")
        textarea#final-input.form-control(rows='15', placeholder="Lesson Final Content")
        button#btn-add.btn.btn-default Add
    include modals/alert
    include modals/confirm

block scripts
    script(src='/vendor/jquery-2.2.3.min.js')
    script(src='/vendor/jquery.form.min.js')
    script(src='/vendor/bootstrap.min.js')
    script(src='/js/controllers/addTemplateController.js')
    script(src='/js/controllers/navbarController.js')
    script(src='/js/views/addTemplate.js')
